In [6]:
def process(s):
    print("initial s # = {0}".format(id(s)))
    s = s+'world'
    print("final s # = {0}".format(id(s)))

In [4]:
my_var  = 'hello'
print("my_var # = {0}".format(id(my_var)))

my_var # = 3000071714384

In [7]:
process(my_var)

initial s # = 3000071714384
final s # = 3000072823984

In [8]:
id(my_var)

3000071714384

In [9]:
my_var

'hello'

In [10]:
def modify_list(lst):
    print("initial s # = {0}".format(id(lst)))
    lst.append(100)
    print("final s # = {0}".format(id(lst)))

In [13]:
my_list = [1,2,3]
id(my_list)

3000073278920

In [14]:
modify_list(my_list)

initial s # = 3000073278920
final s # = 3000073278920

In [15]:
id(my_list)

3000073278920

In [16]:
my_list

[1, 2, 3, 100]

In [17]:
def modify_tuple(t):
    print("initial s # = {0}".format(id(t)))
    t[0].append(100)
    print("final s # = {0}".format(id(t)))

In [18]:
my_tuple = ([1,2],'a')

In [19]:
id(my_tuple)

3000072666568

In [20]:
modify_tuple(my_tuple)

initial s # = 3000072666568
final s # = 3000072666568

In [21]:
id(my_tuple)

3000072666568

In [22]:
my_tuple

([1, 2, 100], 'a')